html,
body,
img,
fieldset,
abbr,
acronym {
  border: 0;
  max-width: 100%;
  width: auto;
}

body {
  padding: 0 !important;
  font-family: 'Titillium Web', sans-serif;
}

body a,
body button {
  color: #000;
  outline: none !important;
  text-decoration: none !important;
  transition: all ease 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

.m-100 {
  margin-bottom: 80px;
}
.what {
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 999;
}
.what a {
  color: #fff;
  font-size: 30px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px #00643152;
  background: #08e255;
}

.what a:last-child {
  font-size: 20px;
}
.under {
  background-color: #006431;
  padding: 7px 20px;
  color: #fff;
  border-left: 8px solid #006431;
  font-size: 18px;
  font-weight: 600;
  font-variant: small-caps;
}

.sec-btn {
  padding: 10px 20px;
  background-color: #006431;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  transition: .5s;
  position: relative;
}

.sec-btn:hover {
  color: #fff;
}

.sec-btn::after {
  position: absolute;
  top: 0;
  transition: .5s;
  left: 0;
  transform: scale(1);
  height: 100%;
  width: 100%;
  background-color: #006431;
  content: "";
}

.sec-btn:hover:after {
  transform: scale(1, 0);
}

.sec-btn span {
  position: relative;
  font-size: 18px;
  z-index: 4;
}
.p-100{
  padding: 80px 0px;
}
h1 {
  font-size: 45px;
  font-weight: 600;
  text-transform: capitalize;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 15px;
  text-transform: capitalize;
}

/*---thank-Section-Start----*/


.thank{
    text-align:center;
    height: 100vh;
    width: 100%;
    margin-top:100px;
}
.thank ul{
    padding:0;
    list-style:none;
    display:flex;
    align-items:center;
}
.thank ul li a{
    height:40px;
    width:40px;
    background:#8514fb;
    color:#fff;
    display:flex;
    align-items:center;
    margin:5px;
    border-radius:5px;
    justify-content:center;
}
/*---thank-Section-end----*/


/* -----header-section-start--- */

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.top-menu {
  background-color: #fff;
  color: #006431;
  padding: 7px 0px;
}

.top-box {
  margin-left: 30px;
}

.top-box ul {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
}
.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.top-bar .social ul{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-bar .social ul li a{
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: #006431;
  color: #fff;
  display: flex;
  transition: .5s;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}
.top-bar .social ul li a:hover{
  background-color: #006431;
  color: #fff;
}
.top-box ul li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.top-box ul li a {
  color: #006431;
}

.top-box ul li i {
  color: #006431;
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.top-box ul li.phone i::after {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  content: "";
  animation: zoom 2s infinite;
}
.top-box ul li.phone i::after {
  animation: zoom 3s infinite;
}
.top-box ul li:hover i {
  color: #006431;
}

.top-box ul li:hover a {
  color: #006431;
}

.top-menu .right-bar{
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.top-menu .right-bar .sec-btn{
  background-color: #006431;
  font-weight: 600;
}
.top-menu .right-bar .sec-btn::after{
  background-color: #006431;
}
.menu .logo-img {
  display: none;
}
.menu .nav-item{
  padding: 10px;
}
.menu .navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 0 15px 0px 10px;
  font-weight: 500;
  text-transform: uppercase;
  border-right: 3px solid #006431;
}
.menu .navbar-light .navbar-nav .nav-link2{
  position: relative;
}
.menu .navbar-light .navbar-nav .nav-link2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-image: url(../images/arrow.png);
  width: 100%;
  background-size: 26px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu .navbar-light .navbar-nav .nav-link:hover,
.menu .navbar-light .navbar-nav .active {
  color: #fff;
}

.menu {
  background-color: #006431;
}

.menu .navbar-nav {
  margin-left: 230px;
}
.dropdown-item{
  padding: 13px 20px;
  border-bottom: 1px solid #eee;
}
.dropdown-item:hover {
  color: #fff;
  background-color: #006431;

}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu{
  padding: 0;
  width: 280px;
}
.cart {
  display: flex;
  align-items: center;
  list-style: none;
}

.cart li {
  font-size: 30px;
  margin: 10px 20px 0px 20px;
}

.cart li i {
  font-weight: 200;
}

.cart li::before {
  background-color: #006431;
  content: '0';
  position: absolute;
  top: 20px;
  right: 13px;
  text-align: center;
  border-radius: 100%;
  font-size: 15px;
  width: 24px;
  height: 24px;
}

.cart li::after {
  background-color: #006431;
  content: '0';
  position: absolute;
  top: 20px;
  right: 81px;
  text-align: center;
  border-radius: 100%;
  font-size: 15px;
  width: 24px;
  height: 24px;
}

.logo {
  background-color: #006431;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
}

.logo img {
  transform: translate(40px, 15px);
  z-index: 99;
  position: relative;
  width: 180px;
}

.logo::after {
  background: #006431;
  content: '';
  width: 76px;
  height: 100%;
  transform: skew(16deg);
  position: absolute;
  top: 0;
  right: -38px;
}

.logo::before {
  width: 20px;
  height: 100%;
  background-color: #006431;
  position: absolute;
  top: 0;
  right: -20px;
  transform: skew(16deg);
  z-index: 999;
  content: '';
}

@keyframes zoom {
  0% {
    box-shadow: 0px 0px 0px 0px transparent;
  }

  50% {
    box-shadow: 0px 0px 0px 0px #006431;
  }

  100% {
    box-shadow: 0px 0px 0px 15px transparent;
  }
}
/* ----header-section-end--- */

/* ---Hero-Section-Start--- */
.hero-section{
  position: relative;
}
.hero-section .hero-slide{
  padding: 150px 0px;
  background-image: linear-gradient(#0064318e,#0064318e),url(../images/slider2.png.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
.hero-section .hero-slide2{
  background-image: linear-gradient(#0064318e,#0064318e),url(../images/slider1.png.jpg) !important;
}
.hero-section .hero-slide h2{
  line-height: 60px;
  font-size: 54px;
  font-weight: 700;
}
.hero-slider .slick-prev,
.hero-slider .slick-next {
  display: block !important;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3334;
  height: 55px;
  width: 55px;
  background-color: #fff;
  color: #006431;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 0px;
  border-radius: 100%;
}

.hero-slider .slick-prev {
  right: 90px;
}

.hero-slider .slick-arrow::after {
  content: "\f100";
  font-size: 24px;
  color: #006431;
  font-family: "FontAwesome";
}

.hero-slider .slick-next::after {
  content: "\f101";
}

.hero-section .form-box{
  position: absolute;
  top: 140px;
  right: 100px;
  width: 37%;
  z-index: 999;
  padding:35px 20px;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px #0089ce2b;
}
.hero-section .form-box h2{
margin: 0;
font-size: 35px;
color: #006431;
line-height: 40px;
}
.form-box .f-group input,.form-box .f-group select,.form-box .f-group textarea{
width: 100%;
padding: 16px 20px;
border: none;
margin-top: 25px;
outline: none;
border: 2px solid #006431 !important;
color: 000 !important;
}
.form-box .f-group input::placeholder,.form-box .f-group textarea::placeholder{
color: #000 !important;
}

.form-box .f-group .sec-btn{
width: 100%;
margin-top: 18px;
padding: 14px 20px;
background-color: #006431;
border: none;
}
/* ---Hero-Section-End--- */
/* -------------Mobile Form------- */
.mobileform-section .form-box{
  width: 100%;
  z-index: 999;
  padding:35px 20px;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px #0089ce2b;
}
.mobileform-section .form-box h2{
margin: 0;
font-size: 35px;
color: #006431;
line-height: 40px;
}
.form-box .f-group input,.form-box .f-group select,.form-box .f-group textarea{
width: 100%;
padding: 16px 20px;
border: none;
margin-top: 25px;
outline: none;
background-color: #fff;
}
.form-box .f-group input::placeholder,.form-box .f-group textarea::placeholder{
color: #000;
}

.form-box .f-group .sec-btn{
width: 100%;
margin-top: 18px;
padding: 14px 20px;
background-color: #006431;
border: none;
}
/* ---------feature-section-start---------- */

.feature-section {
  position: relative;
  z-index: 9;
}

.fea-box {
  background-color: #fff;
  position: relative;
  padding: 30px 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.13);
  text-align: center;
  height: 100%;
}

.fea-box::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #006431;
  background-size: cover;
  content: '';
  z-index: 0;
  transform: scale(0, 1);
  transition: .4s;
  background-position: center;
}

.fea-box:hover::after {
  transform: scale(1);
}
.fea-box h4{
  margin-top: 16px;
}
.fea-box:hover h4,
.fea-box:hover p {
  color: #fff;
}

.fea-box .icon {
  position: relative;
  z-index: 6;
}

.fea-box .icon img {
  width: 60px;
}

.fea-box p {
  position: relative;
  z-index: 5;
  margin-bottom: 0;
}

.fea-box h4 {
  z-index: 6;
  position: relative;
  font-size: 22px;
  font-weight: 600;
}

.fea-item {
  position: absolute;
  bottom: 20px;
  z-index: 6;
  right: 20px;
}

.fea-item img {
  width: 50px;
  filter: brightness(.6);
}

/* ---------feature-section-end------------ */

/* ---about-section-start--- */

.about-section .as-img{
  position: relative;
  padding: 40px;
}
.about-section .as-img::after{
  height: 70%;
  width: 70%;
  content: "";
  position: absolute;
  top: 0;
  border-top: 15px solid #006431;
  border-left: 15px solid #006431;
  left: 0;
}
.about-section .as-img::before{
  height: 70%;
  width: 70%;
  content: "";
  position: absolute;
  bottom: 0;
  border-right: 15px solid #006431;
  border-bottom: 15px solid #006431;
  right: 0;
}
/* ---about-section-end--- */


/* -----------counter-section-start--------- */

.counter-section{
  position: relative;
  padding: 60px 0px;
  background-image: linear-gradient(#006431b3,#006431b3),url(../images/counter.jpg);
  margin: 80px 0px;
}

.cont-box{
  text-align: center;
  margin-top: 20px;
  color: #fff;
  border-radius: 10px;
}
.cont-box p{
  font-size: 20px;
  margin-bottom: 0px;
}
.cont-box h2{
  font-size: 35px;
  font-weight: 700;
  margin-top: 10px;
  color: #fff;
  position: relative;
  line-height: 30px;
}
.cont-box h2::after{
  content: "+";
  font-size: 45px;
}
.count-box2 h2::after{
  content: "Y";
  font-size: 30px;
  padding-left: 5px;
}
/* -----------counter-section-end----------- */

/* ----service-section-start--- */


.ser-head {
  text-align: center;
}

.ser-box3 {
  background-image: url(../images/ser3.jpg);
  background-size: cover;
  height: 100%;
}
.ser-box1 {
  background-image: url(../images/ser1.jpg);
  background-size: cover;
  height: 100%;
}

.ser-box2 {
  background-image: url(../images/ser2.jpg);
  background-size: cover;
  height: 100%;
}

.ser-box4 {
  background-image: url(../images/ser4.jpg);
  background-size: cover;
  height: 100%;
}

.ser-box5 {
  background-image: url(../images/ser5.jpg);
  background-size: cover;
  height: 100%;
}

.ser-box6 {
  background-image: url(../images/ser6.jpg);
  background-size: cover;
  height: 100%;
}
.service-section .ser-item {
  padding: 20px 15px;
  height: 100%;
  background-color: #006431bc;
  color: #fff;
}

.ser-item h4 {
  font-size: 22px;
  font-weight: 600;
}

.ser-item p {
  margin-bottom: 0;
}

.ser-box1,
.ser-box2,
.ser-box3,
.ser-box4,
.ser-box5,
.ser-box6 {
  transition: .5s;
}

.ser-box1:hover,
.ser-box2:hover,
.ser-box3:hover,
.ser-box4:hover,
.ser-box5:hover,
.ser-box6:hover {
  background-position: center;
}

.service-section .sec-btn {
  background-color: #006431;
  margin-top: 10px;
}

/* ----service-section-end--- */

/* -----Brand-Section-Start----- */

.brand-section {
  text-align: center;
}

.brand-section .brand-box {
  padding: 20px;
  border: 3px double #006431;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.brand-section .brand-box img {
  margin: auto;
  width: 200px;
}

.brand-section h3 {
  font-size: 35px;
  font-weight: 700;
}

/* ---Brand-Section-End---- */

/* ----testimonial-section-start---- */
.testimonial-section{
  background-image:linear-gradient(to left, #0064318e,#006431a1),url(../images/banner.webp);
  background-size: cover;
  background-attachment: fixed;
}
.testimonial-section .tes-head{
  text-align: center;
  color: #fff;
}
.testimonial-section .tes-head h2{
  margin-bottom: 0;
}
.tes-box{
  padding: 25px;
  border: 1px solid #e9edf3;
  position: relative;
  margin-top: 60px;
  margin-right: 50px;
  background-color: #fff;
}
.tes-box .tes-quote{
  position: absolute;
  top: -40px;
  right: 30px;
  height: 60px;
  border-radius: 40px 40px 0px 0px;
  font-weight: 400;
  transition: .5s;
  text-align: center;
  width: 80px;
  background-color: #fff;
  color: #e9edf3;
  font-size: 55px;
}
.tes-box:hover .tes-quote{
  color: #006431;
}
.tes-box .tes-info{
  display: flex;
  align-items: center;
  padding: 10px 30px;
  position: relative;
  border-radius: 40px 0px 0px 40px;
  transition: .5s;
  box-shadow: 0px 10px 20px 0px #ffc40022;
  margin-right: -50px;
  background-color: #e9edf3;
}
.tes-box:hover .tes-info{
  background-color: #006431;
  color: #fff;
}
.tes-box .tes-info::after {
  position: absolute;
  top: -24px;
  right: -2px;
  height: 25px;
  z-index: -1;
  transition: .5s;
  clip-path: polygon(0 0,4% 0,100% 107%,1% 100%);
  width: 28px;
  background-color: #e9edf3;
  content: "";
}
.tes-box:hover .tes-info::after{
  background-color: #006431;
}
.tes-box h5{
  font-weight: 700;
  margin-top: 10px;
}
.tes-box p {
  font-size: 18px;
  line-height: 32px;
  margin: 30px 0px;
}
.tes-box .tes-info .text{
  margin-left: 20px;
}
.tes-box .tes-info .text h6{
  font-size: 18px;
  margin-bottom: 0;
  color: #006431;
}
.tes-box .tes-info .tes-img img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
}
.tes-box .ratting{
  color: #ffc400;
}
.ch-title, .ch-text {
  color: #fff;
}
/* ----testimonial-section-end--- */

/* ---Footer-Section-Start--- */

.footer-section{
  padding-top: 30px;
  font-weight: 600;
  background-color: #eee;
}
.f-box,.footer-section .map{
  margin-top: 20px;
}
.f-box h4{
  margin-bottom: 20px;
  color: #006431;
  position: relative;
  font-weight: 600;
}
.f-box p{
  margin: 15px 0px;
  font-size: 17px;
}
.f-box h4::after{
  height: 3px;
  width: 70px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #006431;
  content: "";
}
.f-box ul{
  padding: 0;
  list-style: none;
  margin: 0;
}
.f-box ul li{
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 10px 0px;
}
.f-box ul li a span{
  font-weight: 600;
}
.f-box ul li a:hover{
  color: #006431;
}
.f-box ul li span{
  flex: 1;
}
.f-box img{
  width: 120px;
}
.f-box .social-link{
  display: flex;
  align-items:center;
}
.f-box .social-link li a, .f-box ul li> i{
  display: flex;
  margin-right: 10px;
  align-items: center;
  transition: .5s;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  color: #006431;
  border-radius: 1px;
}
.f-box .social-link li a:hover, .f-box ul li> i:hover{
  background-color: #006431;
  color: #fff;
  border-radius: 5px;
}
.footer-section .map{
  height: 100%;
  box-shadow: 0px 10px 20px 0px #1dbf7316;
}
.footer-section .map iframe{
  height: 100%;
  border-radius: 10px;
}
.footer-section .copy-right {
  text-align: center;
  padding: 10px;
  z-index: 7;
  color: #fff;
  background-color: #006431;
  margin-top: 20px;
  position: relative;
}
.footer-section .copy-right p {
  margin-bottom: 0;
}
.footer-section .copy-right p a {
  color: #000;
  font-weight: 600;
}
/* ---Footer-Section-End--- */

/* ---Banner-Section-Start--- */

.banner-section{
  padding: 120px 0px;
  text-align: center;
  background-position: center;
  background-size: cover;
  color: #fff;
  background-image: linear-gradient(#006431a3,#006431a3),url(../images/banner.webp);
}
.banner-section .banner-title ul{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
.banner-section .banner-title h2{
  font-size: 45px;
}
.banner-title ul li:first-child a{
  color: #006431;
}
 .banner-title ul li a{
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
 }
/* ---Banner-Section-End--- */

/* ----choose-section-start---- */

.choose-section .ch-box {
  background-color: #fff;
  padding: 30px;
  padding-top: 0;
  transition: .5s;
}
.ch-img{
  border-top: 2px solid #006431;
  margin-top: 10px;
  padding-top: 20px;
}
.choose-section .ch-box:hover {
  background-color: #006431;
  color: #fff;
}

.choose-section .ch-box p {
  margin-bottom: 0;
  font-size: 14px;
}

.choose-section .ch-box h4 {
  margin-top: 10px;
}
.choose-section .ch-box img{
  transition: .5s;
}
.choose-section .ch-box:hover img{
  filter: brightness(0);
}

/* ----choose-section-end---- */

/* ----cta-section-start---- */

.cta-section {
  padding-top: 180px;
  padding-bottom: 70px;
  margin-top: -120px;
  background-image: linear-gradient(#0064319c, #0089ce94), url(../images/counter.jpg);
  background-size: cover;
  text-align: center;
  background-position: center;
  color: #fff;
}

.cta-section .cta h2 {
  font-size: 50px;
  font-weight: 700;
}

/* ---Cta-Section-End---- */

/* -----Gallery-Page-start----- */

.gallery-section {
  overflow: hidden;
}

.gallery-section .gs-head h2 {
  margin: 0;
  text-align: center;
}

.gallery-section .gallery-box {
  position: relative;
  margin-top: 20px;
}

.gallery-box a {
  position: relative;
  border-radius: 10px;
}

.gallery-box a img {
  width: 100%;
  transition: .5s;
  height: 328px;
  object-fit: cover;
}

.gallery-box a:hover img {
  transform: scale(1.09);
}

/* ------gallery-Page-end------- */

/* ----Contact-Section-Start---- */

.contact-box{
  padding: 20px;
  text-align: center;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.147);
  background-color: #006431;
  height: 100%;
  position: relative;
}
.contact-box::after{
  width: 100%;
  background-color: #006431;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  transform: scale(0,1);
  transition: .5s;
  height: 100%;
}
.cont-item{
  position: relative;
  z-index: 4;
}
.contact-box .cont-item,.contact-box .cont-item a{
  color: #fff;
}

.contact-box:hover::after{
  transform: scale(1);
}
.contact-box .icon{
  margin-bottom: 10px;
}
.contact-box img{
  width: 60px;
}
.contact-section .map{
  height: 100%;
}
/* ---Contact-Section-End---- */

/* ----Quote-Section-Start---- */

.quote-section {
  position: relative;
 }
 .qs-item{
  position: relative;
  height: 100%;
  padding:30px 20px;
  margin-right: -24px;
  background-image: linear-gradient(#00643166, #00643166), url(../images/quote.jpeg);

  background-position: center;
  background-size: cover;
  color: #fff;
 }
 .qs-item h4{
  font-size: 28px;
  margin-bottom: 0px;
 }

 .quote-section .form-box{
    padding:35px 20px;
    /* background-image: linear-gradient(#006431,#006431); */
    box-shadow: 0px 10px 20px 0px #0089ce25;
  }
 .quote-section .form-box h2{
  color: #006431;
  margin: 0;
  line-height: 40px;
 }
 
/* ----Quote-Section-End---- */

/* ----service-section-Start---- */

.service-two .ser-box .text {
  padding: 20px;
}
.service-two .ser-box h2{
  font-weight: 700;
  font-size: 35px;
}
.service-two .ser-box p{
  margin-bottom: 5px;
}
.ser-slider .ser-list {
  border-radius: 2px;
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background-color: #eee;
  font-size: 18px;
  position: relative;
  font-weight: 500;
  text-transform: capitalize;
  transition: .5s;
  width: 180px;
  line-height: 24px;
  cursor: pointer;
}

.ser-slider .ser-list::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #006431;
  transition: .4s;
  content: "";
}

.ser-slider .ser-list:hover::after {
  height: 100%;
}

.ser-slider .ser-list::before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  transform: translate(-50%, -50%);
  height: 3px;
  background-color: #006431;
  z-index: 3;
  transition: .4s;
  content: "";
}

.ser-slider .ser-list:hover:before {
  width: 100%;
}

.ser-slider .ser-list.slick-current::before {
  width: 100%;
}

.ser-slider .ser-list img {
  display: block;
  margin: 10px auto;
  position: relative;
  z-index: 9;
  transition: .5s;
}

.ser-slider .slider-nav {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.ser-slider .ser-list.slick-current {
  background-color: #006431;
  color: #fff;
  cursor: auto;
}

.ser-slider .ser-list.slick-current img {
  filter: brightness(0);
}

.ser-slider .ser-list:hover img {
  filter: brightness(0);
}

.ser-slider .ser-list:hover span {
  color: #fff;
  position: relative;
  z-index: 4;
}

.service-two .ser-img img {
  width: 100%;
}

.service-two .ser-box .sec-btn {
  margin-top: 0;
}

/* ----service-Section-End---- */

/* -------branch-section-start------- */
.branches-section{
  padding: 80px 0px;
}
.branch-head {
  margin-bottom: 20px;
  text-align: center;
}

.branch-box {
  border: 4px double #006431;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
  transition: .5s;
  position: relative;
}


.branch-box h4 {
  font-size: 22px;
  font-weight:600;
}


.branch-box:hover {
  color: #fff;
}

.branch-box:hover a {
  color: #fff;
}

.branch-box b {
  color: #006431;
}

.branch-box::after {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #006431;
  background-image: url(../images/footer.png);
  width: 100%;
  height: 0px;
  content: '';
  transition: .5s;
  z-index: -1;
}

.branch-box:hover::after {
  height: 100%;
}

.branch-box .icon {
  margin-bottom: 10px;
}

.branch-box .icon img {
  width: 50px;
}

.branch-box p {
  margin-bottom: 0;
}

.branch-box a:hover {
  color: #006431;
}

.branch-box address {
  margin-bottom: 0;
}

/* -------branch-section-end--------- */

@media screen and (max-width:1024px) {
  .social {
    display: none;
}
.hero-section .hero-slide h2 {
  line-height: 40px;
  font-size: 34px;
}
.hero-section .hero-slide{
  padding: 100px 0px;
}
.banner-section{
  padding: 80px 0px;
}
.hero-section .form-box {
  top: 40px;
  right: 40px;
  width: 44%;
}
.form-box .f-group input, .form-box .f-group select, .form-box .f-group textarea {
  padding: 13px 20px;
  margin-top: 15px;
}
.form-box .f-group .sec-btn {
  margin-top: 10px;
  padding: 10px 20px;
}
.fea-box h4 {
  font-size: 18px;
}
h2 {
  font-size: 30px;
}
  .thank{
    margin-top:80px;
}
.as-content p{
  margin-bottom: 5px;
}
.service-section .ser-item {
  padding: 20px 8px;
}
.p-100{
  padding: 60px 0px;
}
.m-100{
  margin-bottom: 40px;
}
.cta-section .cta h2 {
  font-size: 35px;
}
}

@media screen and (max-width:992px) {
  header > .logo{
    display: none;
  }
  .menu .logo-img {
    display: block;
    width: 250px;
    margin-left: -50px;
    padding: 5px ;
    text-align: center;
    background-color: #006431;
  }
  .menu .navbar-light .navbar-nav .nav-link{
    border-right: none;
  }
  .menu .navbar-light .navbar-toggler{
    background-color: #fff;
  }
  .menu .logo-img img{
    width: 140px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
}
  .menu .navbar{
    padding: 0;
  }
}

@media screen and (max-width:768px) {
  .hero-item, .hero-slider .slick-prev, .hero-slider .slick-next,.qs-item{
    display: block;
  }
  .hero-section .hero-slide{
    height: 600px !important;
  }
      .thank{
    margin:50px 0px;
    height:auto;
}
  .hero-section .form-box {
    top: 40px;
    right: 40px;
    width: 90%;
}
.p-100{
  padding: 50px 0px;
}
.contact-section .map {
  height: 300px;
  margin-top: 30px;
}
.tes-box p {
  font-size: 16px;
  margin: 15px 0px;
}
h2,.service-two .ser-box h2 {
  font-weight: 700;
  font-size: 35px;
  font-size: 28px;
}
.cta-section{
  margin-top: 40px;
  padding: 40px 0px;
}
.choose-section .ch-box {
  margin: 10px;
  box-shadow: 0px 10px 20px 0px #0089ce2e;
}
.ch-title, .ch-text {
  text-align: center;
}
.cta-section .cta h2 {
  font-size: 28px;
}
.service-section .ser-item {
  /* background-color: #0089ce73; */
}
.banner-section .banner-title h2 {
  font-size: 35px;
}
.banner-section{
  padding: 50px 0px;
}
.top-box ul{
  flex-wrap: wrap;
}
.top-box ul li i{
  height: auto;
  width: auto;
  background-color: transparent;
  color: #fff;
}
.top-box {
  margin-left: 0px;
}
.menu .navbar-nav {
  margin-left: 2px;
}
.menu .nav-item {
  padding-left: 0px;
}
.counter-section{
  margin: 40px 0px;
}
.top-box ul li i::after{
  display: none;
}
}

@media screen and (max-width:580px) {
  .hero-section .form-box {
    right: 20px;
}
.hero-section .hero-slide{
  height: 750px;
}
.tes-box {
  margin-right: 10px;
}
h2,.service-two .ser-box h2 {
  font-size: 24px;
}
.m-100{
  margin-bottom: 30px;
}
.p-100{
  padding: 34px 0px;
}
.thank{
    margin:20px 0px;
}

}
/* -------Now More Cities------ */
.Service-area-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
 
}
.Service-area-list li{
  padding-right: 20px;
}
.Service-area-list li p{
  background-color: #006431;
  color: white;
  padding: 5px;
}
.Service-area-list li::marker {
  color: #006431; /* Disc color */
}